<div class="container" ng-controller="ToDoController">


    <!-- Two-way data binding -->
    <div >
        <input type="text" size="30" ng-model="newItem"
               placeholder="Type a new item here">
        <button id="button" ng-click="addItemToList()"> Add</button>
    </div>

    <hr>
    <!-- One-way data binding -->
    New Item : {{newItem}}

    <ul ng-repeat="i in items track by $index">
        <li> {{i}} <button ng-click="removeItem($index)">Delete</button> </li>
    </ul>

</div>